<div *ngIf="isdata; else content">
  <app-shimmer ></app-shimmer>
  </div>



  <ng-template  #content>
<div class="container">

  <h1>IELTS intelligence</h1>
  <p><b>Thank you for submitting the test</b></p>
  <p>You have scored 1/30 in your test. See which answers you got right or wrong and read your detailed feedback</p>
  <div class="carousel d-flex" data-bs-ride="carousel">
                <a  (click)="onSubtract()" class="previous round">&#8249;</a>

      <div class="carousel-inner question-band" *ngFor="let i of arr2; let ii = index">
        <div class="carousel-item active">
          <div class="col-m-1">
            <div class="card">
              <div class="card-body">

                <a class="question-number" (click)="onClick(i)" >
                  
                  <ng-container *ngIf="arr[ii].correct; else elsetemplate ">
                    <p >&#9989;</p>
                  </ng-container>
                  <ng-template #elsetemplate>
                    <p [ngStyle]="{'color':'red'}">&#10005;</p>
                  </ng-template>


                  <p [ngStyle]="{'background-color': (i==curr_idx-1) ? '#ddd' : ''}">{{i}}</p>
          
                </a>
               
              </div>
            </div>
          </div>

        </div>

      </div>
      <a (click)="onAdd()" class="next round">&#8250;</a>
  </div>

  <p>This question focuses on</p>


  <h4>Question {{curr_idx-1}}</h4>
  <p>{{text}}</p>


  <h4>Your answer</h4>
  <p [ngStyle]="{'color': flag ? 'green' : 'red'}">{{ans}}</p>
</div>
</ng-template>